# --- GLOBALS (for all jobs on the server)
BORG_PASSPHRASE=My-Super-Secret-Passphrase

# --- DATABASE SECRETS ---
#POSTGRES_PW_IMMICH=Secret1
#POSTGRES_PW_PAPERLESS=Secret2

# --- MONITORING (Uptime Kuma) ---
# important: one url with token per job without trailing parameters

# for 01-system:
KUMA_URL_SYSTEM=https://my-uptime.kuma.url/api/push/TOKEN
